@import url(numpad.css);

.Label {
  font-size: 8pt;
  font-weight: normal;
  color: #404040;
}

.Label_ContentCell {
  border: 0px none;
  vertical-align: top;
  text-align: right; /*~RTL   text-align: left;*/ 
  border-collapse: collapse;
  padding-top: 1px;
  padding-right:8px; /*~RTL   padding-left:4px; */ 
}

.Arrows_ContentCell {
  border: 0px none;
  vertical-align: middle;
  text-align: -moz-center;
  _text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  border-collapse: collapse;
  height: 25px;
  table-layout: fixed;
}


table.DataGrid_Table {
  border-top: #808080 4px solid; 
  border-right: #808080 4px solid; 
  border-bottom: #808080 4px solid; 
  border-left: #808080 4px solid; 
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0px; 
  padding: 0px;
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 8pt;
  text-indent: 2pt; 
  z-index: 100;
  vertical-align: middle !important;
  width: 100%;
}

.inputWidth{
  width: 100%;
}

.emptyrow{
      height:25px;
}

.cellreadonly {
  color: #606060;
  background: none;
  background-color: #e7e7e7;
}

.Form_Table {
  border: 0px none;
  margin: 1%;
  background-color : #e7e7e7;
  width: 90%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 0px;
}

.Form_ContentCell {
  border: 0px none;
  vertical-align: top;
  text-align: left; /*~RTL   text-align: right; */ 
  padding-left: 3px; /*~RTL   padding-right: 3px; */
  padding-top: 3px;
  _padding-top: 2px;
  padding-bottom: 1px;
  border-collapse: collapse;
  height: 25px;
  width:100%;
  table-layout:fixed;
  margin:0;
  padding:0; 
  vertical-align:top;
}

.Form_ListBased {
  background-color:#ffffff !important;
}

.Label_ListBased {
  height: 15px;
  text-align: right;
  padding-right: 10px;
}

.Text_mobile {
    font-size: 14pt  !important;
}

.LabelText_mobile {
    font-size: 12pt  !important;
}

.MsgText_mobile {
    font-size: 20pt  !important;
}

.ButtonHeight_mobile {
    height: 36px !important;
}

.DataGrid_Content_mobile {
  font-family: tahoma, arial, helvetica, sans-serif !important;
  font-size: 14pt !important;
  padding: 1px 1px 1px 1px; /*~RTL  padding: 1px 2px 1px 0px; */ 
  text-indent: 2px;
  text-align: left; /*~RTL  text-align: right; */
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;
  border-left: 1px solid #808080;
  overflow: hidden;
  white-space: nowrap !important;
  vertical-align: middle !important;
  cursor: default;
  border-collapse: collapse;
}

.DataGrid_Content {
  font-family: tahoma, arial, helvetica, sans-serif !important;
  font-size: 8pt !important;
  padding: 1px 1px 1px 1px; /*~RTL  padding: 1px 2px 1px 0px; */ 
  text-indent: 2px;
  text-align: left; /*~RTL  text-align: right; */
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;
  border-left: 1px solid #808080;
  overflow: hidden;
  white-space: nowrap !important;
  vertical-align: middle !important;
  cursor: default;
  border-collapse: collapse;
}

.DataGrid_ListBased {
  font-family: tahoma, arial, helvetica, sans-serif !important;
  font-size: 8pt !important;
  padding: 1px 1px 1px 1px; /*~RTL  padding: 1px 2px 1px 0px; */ 
  text-indent: 2px;
  text-align: left; /*~RTL  text-align: right; */
  overflow: hidden;
  white-space: nowrap !important;
  vertical-align: middle !important;
  cursor: default;
  border-collapse: collapse;
}

.DataGrid_Header_ListBased {
  font-family: tahoma, arial, helvetica, sans-serif !important;
  font-size: 8pt !important;
  padding: 1px 1px 1px 1px; /*~RTL  padding: 1px 2px 1px 0px; */ 
  text-indent: 2px;
  text-align: left; /*~RTL  text-align: right; */
  /*border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;
  border-left: 1px solid #808080;*/
  font-weight:bold;
  overflow: hidden;
  white-space: nowrap !important;
  vertical-align: middle !important;
  cursor: default;
  border-collapse: collapse;
}
/* S U B S C R I P T I O N */
@media screen and (min-width: 800px) {
.fronthead {
    width: 100%;
    text-align: center!important;
    font-size: 56px !important;
    padding-top: 5vh !important;
}
.content {
    font-size: 30px;
    width: 100%;
    text-align: center;
    padding-top: 5vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.fronthead {
    width: 100%;
    text-align: center;
    font-size: 5vw;
    padding-top: 5vh !important;
}
.content {
    font-size: 2.2vw;
    width: 100%;
    text-align: center;
    padding-top: 5vh;
    padding-left: 4vw;
    padding-right: 4vw;
}}
.contentsmaller {
    font-size: 1.2vw;
    width: 100%;
    text-align: center;
    padding-top: 5vh;
    padding-left: 4vw;
    padding-right: 4vw;
}
.contentsmallleft {
    font-size: 1.0vw;
    width: 100%;
    text-align: left;
    padding-top: 10vh;
}
.centri{

    width: 100%;
    height: 10vh;
    margin-top: 5vw;

}

#logloutothersessiontd{
float:left;
margin-left:30%
    
}
#Ausloggentd {

    float: left;
    margin-left: 10vw;

}
#Akzeptierentd{
float:left;
margin-left:30%
    
}
#Ablehnentd {

    float: left;
    margin-left: 10vw;

}
#Oktd{
float:left;
margin-left:48%
    
}
.DataGrid_Header {
  font-weight: normal;
  height: 23px;
  _height: 20px;
  vertical-align: middle !important;
  overflow: hidden;
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 8pt;
  padding: 1px 0px 1px 2px;
  text-indent: 2px;
  text-align: left; /*~RTL   text-align: right; */
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  border-left : 1px solid #000000;
  border-collapse: collapse;
  background: none;
  background-repeat: repeat-x;
  background-position: top left;
  background-image: url(Common/DataGrid/backgroundHeader.normal.png);  /** sprite-ref: Openbravo_ERP_250_Default_LTR_Sprite_V; sprite-alignment: repeat; sprite-margin-bottom: 30px; */
  background-color: #A6A6A6;
  _background-color: #9D9D9D;
  color: #000000;
  white-space: nowrap;
  font-weight: bold;
}

.Celltable {
  width:100%;
  table-layout:fixed;
}


.Checkbox_container, .Radio_container {
  padding: 0px;
  margin: 0px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
}

.Listselector {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 8pt;
  border: 1px solid #888888;
  height: 70px;
  _height: 71px;
  width: 100%;
}

  
.Popup_Table {
  border: 0px none;
  margin: 1%;
  background-color : #e7e7e7;
  width: 90%;
  border-collapse: collapse;
  table-layout: fixed;
}

#adImageId_inp img {
        width: 160px!important;
}
#ntImage_R {
        width: 160px!important;
}


.Label_Listbased .Label{
/*Label der Listbased Daten*/
    font-size:8pt;
}
.Form_ListBased .Label{
/*Inhalt der Listbased Daten*/
    font-size:7pt !important;
}
.DataGrid_ListBased .Label{
/*Inhalt der Listbased Daten*/
    font-size:8pt;
}
td.leadingcolselectbox1{
    background-color:white;
}



/* -_-_-_-_-_- Slideshow start -_-_-_-_-_- */

 
/* {box-sizing:border-box} */

/* Slideshow container */
#slideshow-container {
    max-width: 30%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

#firstimg{
    display: block;
}

.carouselimg{
    max-width: 320px;
    height: 300px;
    margin-top: 5%;
    object-fit: contain;
}

.carousel-ctrl{
	max-width: 300px;
    margin: 5px 0px 9px 0px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
    margin-top: 2%;
    padding: 5px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

/* Position the "next button" to the right */


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.2);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 20px;
    margin: 0 2px;
    margin-top: 2%;
    background-color: #bbb;
    border-radius: 0%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* -_-_-_-_-_- Slideshow end -_-_-_-_-_- */
