/*******************************************************************
OpenZ Login Design
Created mainly by Danny A. Heuduk November 2017
********************************************************************/
/*****
 * Standard Options
 * ******/
.Login_ContentPane_ToolBar{
    display:none;
}

.Login_ContentPane{
    background-color:transparent!important;
}
.Login_Logo_OpenZ{

    display:none;
}
.Login_Logo_OpenZ_new{
    display:block!important;
    width:175px;
    margin-left:25%;
}
.Login_Auth_Container{
   margin-top:0px;
   text-align:center; 
}
.Main_ContentPane_Bottom{
    display:none;
}
.toptopvalignthing{
    display:none;
}
.lgnimghd4hpfr{

    margin-top:-98px!important;
}
/*********
Frame for Login
**********/

.LoginBackground {
  background: transparent url(teufelsmoor.png) no-repeat;
  background-size:cover;
}
.Copyright_Content {
	display:none;
}
td.Login_Copyright_Container_Cell {
  text-align: center; 
  text-color:#404040;
  display:none;
}
.Version_Content {

  display:none;
}
tr.Login_Logo_Support_Field{

    display:none;
}
.Login_Copyright_text{
display:none;
}
    
.Login_tr_area{
	box-shadow:5px 5px 5px #333333;
}

.Button.hpfrbtn{
	text-transform:uppercase;
	transition: all 
}

.LabelText_Login {
display:none;
}
.Login_Copyright_text_new{
    display:block!important;
    	font-size: 7pt;
font-weight: normal;
color: #fff;
  text-align:right!important;
  float: right;
  margin-right:4px;
    
}
.forsupport{

    display:none;
}
#itService{
	display:inline;
	text-align:left!important;
	margin-left:4px!important;
}
.lgnft{
	margin-bottom:4px!important;
}
td.Login_ContentCell {
    display:none;
}
td.Login_Copyright_Container_Cell { 
    display:none;
}
.Login_Logo_OpenZ{
margin-top:0px;
width:175px;
}
.lgnimghd4hpfr{
	background-color:#ffffff;
	margin-top:-7px;
}
.lgnfttt{
	margin-top:0px!important;
	text-align: left !important;
}
/*********
Inputs für Login
**********/

.dojoValidateValid_Login {
  border: none;
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 13pt;
  color: #303030;
  background-color: #e6c474;
  padding-right: 0px;
  padding-left: 3px;
  padding-top:1px;
  padding-bottom:1px;
  height: 26px;
  margin-top:10px!important;
  margin-left:0px!important;
  margin-right:0px!important;
  margin-bottom:0px!important;
}
.dojoValidateValid_focus_Login {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 13pt;
  color: #303030;
  background-repeat: repeat-x !important;
  background-position: top left !important;
 /* background-image: url(Common/TextBox/textField.background.focused.png);*/
  background-color: #D9F0FB !important;
  padding: 0px;
  padding-left: 3px;
  height: 26px;
  border:none;
  margin-top:10px!important;
    margin-left:0px!important;
  margin-right:0px!important;
  margin-bottom:0px!important;
}
/*********
Button for Login
**********/


.button_text_LI{
    text-transform: uppercase;
}

/*Standard Buttons*/
button.ButtonLink table.Button .Button_left_LI, table.Button .Button_left_LI {
  width: 35px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center right; /*~RTL   background-position: center left;  */
   background-image: none!important;
  background-color:#496D04; 
  text-align: right; /*~RTL   text-align: left; */
  vertical-align: top;
  box-shadow: 2px 2px 2px #213e51;
}

button.ButtonLink table.Button .Button_text_LI, table.Button .Button_text_LI {
  background-repeat: repeat-x;
  background-position: center center;
  background-image: none!important;
  background-color:#496D04; 
  text-align: center;
  height: 26px;
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  color:#ffffff;
  box-shadow: 2px 2px 2px #213e51;
}

button.ButtonLink table.Button .Button_right_LI, table.Button .Button_right_LI {
  width: 26px;
  height: 26px;
  
  background-repeat: no-repeat;
  background-position: center left;
background-image: none!important;
   background-color:#496D04; 
   box-shadow: 2px 2px 2px #213e51;
}

/* hovered Buttons */

button.ButtonLink_hover table.Button .Button_left_LI, table.Button_hover .Button_left_LI {
  background-repeat: no-repeat;
  background-position: center right; /*~RTL   background-position: center left; */
  background-image: none!important;
  
  width: 35px;
  height: 26px;
  background-color:#89B633;

}

button.ButtonLink_hover table.Button .Button_text_LI, table.Button_hover .Button_text_LI {
  background-repeat: repeat-x;
  background-position: center center;
  background-image: none!important;
  background-color:#89B633;
}

button.ButtonLink_hover table.Button .Button_right_LI, table.Button_hover .Button_right_LI {
  background-repeat: no-repeat;
  background-position: center left;
 background-image: none!important;
 background-color:#89B633;
  width: 26px;
  height: 26px;
}


/* focused Buttons */

button.ButtonLink_focus table.Button .Button_left_LI, .Button_focus .Button_left_LI {
  background-repeat: no-repeat;
  background-position: center right; /*~RTL   background-position: center left; */
background-image: none!important;
background-color:#89B633;
box-shadow: 1px 1px 1px #213e51;
  width: 35px;
  height: 26px;
}

button.ButtonLink_focus table.Button .Button_text_LI, table.Button_focus .Button_text_LI {
  background-repeat: repeat-x;
  background-position: center center;
  background-image: none!important;
background-color:#89B633;
box-shadow: 1px 1px 1px #213e51;
}

button.ButtonLink_focus table.Button .Button_right_LI, table.Button_focus .Button_right_LI {
  background-repeat: no-repeat;
  background-position: center left;
 background-image: none!important;
  width: 26px;
  height: 26px;
  background-color:#89B633;
  box-shadow: 1px 1px 1px #213e51;
}


/* Pressed Buttons */

button.ButtonLink_active table.Button .Button_left_LI, .Button_active .Button_left_LI {
  background-repeat: no-repeat;
  background-position: center right; /*~RTL    background-position: center left; */
  background-image: none!important;

  width: 35px;
  height: 26px;
  background-color:#89B633;
}

button.ButtonLink_active table.Button .Button_text_LI, table.Button_active .Button_text_LI {
  background-repeat: repeat-x;
  background-position: center center;
  background-image: none!important;
  background-color:#89B633;
}

button.ButtonLink_active table.Button .Button_right_LI, table.Button_active .Button_right_LI {
  background-repeat: no-repeat;
  background-position: center left; 
 background-image: none!important;

  width: 26px;
  height: 26px;
  background-color:#89B633;
}

