


hr.bars { height: 1px; background-color: #bbb; border: none;}




/* DIVs and FORMs */


#wrapperbarchart {
	width: 920px;
	margin: 15px auto;
	padding: 30px;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	 box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

#chartwrapper {min-width: 450px; }



#barchartform {margin: 0 10px; float: right; width: 420px}

#barchartform div {
	background: #eee;
	border: 1px solid #ccc;
}


#barchartform a.slider, h3 {background: #ccc; display: block; width: 100%;
	font-weight: bold;
	color: #444;
	text-decoration: none;
}

	#barcharttitel div {
	 box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);		
	border-radius-topright: 6px;; border-radius-bottomright: 6px;	 
	-moz-border-radius-bottomright: 6px; -moz-border-radius-topright: 6px;		
	-webkit-border-radius-topright: 6px; -webkit-border-radius-bottomright: 6px;
	}
	
	#barchartbesch h3 {margin-top: 0}
	
    #barcharttitel div, #barchartbesch div {
        position: absolute; 
        text-align: center;
		padding: 3px 4px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #FFF;
        opacity: .70;
        filter:alpha(opacity=70);
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    }
    
    #barchartbesch div {
        border: 1px solid #CCC;
		padding: 3px 0;
    }
	


/* typo */

h1, h2, p {margin: 3px 0}




/* special formats */

.small {font-size: 80%; color: #888}

.small p, .small h2 {margin: 1px 0}

.hidden {display: none}
.border {border: 1px solid #CCC}
.shadow { box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2)}


#sb {display: block}
.csb {display: block; clear: both;
	padding: 2px; margin: 2px;
	background: #FFF;}
	
.active {border: 1px solid #090}	
	
.cs { height: 12px; width: 12px; float: left; border: none; margin: 0}


.clearfix:after, .clear {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}




