

/* -_-_-_-_-_- Form Items -_-_-_-_-_- */

.Label {
  font-size: 8pt;
  font-weight: normal;
  color: #404040;
}


.Form_Table {
  border: 0px none;
  margin: 1%;
  background-color : #e7e7e7;
  width: 90%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 0px;
}


.Form_ListBased {
  background-color:#ffffff !important;
}


/* -_-_-_-_-_- Data Grid Editable Items -_-_-_-_-_- */

table.DataGrid_Table {
  border-top: #808080 4px solid; 
  border-right: #808080 4px solid; 
  border-bottom: #808080 4px solid; 
  border-left: #808080 4px solid; 
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0px; 
  padding: 0px;
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 8pt;
  text-indent: 2pt; 
  z-index: 100;
  vertical-align: middle !important;
  width: 100%;
}

.cellreadonly {
  color: #606060;
  background: none;
  background-color: #e7e7e7;
}


.DataGrid_Content_mobile {
  font-family: tahoma, arial, helvetica, sans-serif !important;
  font-size: 12pt !important;
  padding: 1px 1px 1px 1px; /*~RTL  padding: 1px 2px 1px 0px; */ 
  text-indent: 2px;
  text-align: left; /*~RTL  text-align: right; */
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;
  border-left: 1px solid #808080;
  overflow: hidden;
  white-space: nowrap !important;
  vertical-align: middle !important;
  cursor: default;
  border-collapse: collapse;
}

.DataGrid_Content {
  font-family: tahoma, arial, helvetica, sans-serif !important;
  font-size: 8pt !important;
  padding: 1px 1px 1px 1px; /*~RTL  padding: 1px 2px 1px 0px; */ 
  text-indent: 2px;
  text-align: left; /*~RTL  text-align: right; */
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;
  border-left: 1px solid #808080;
  overflow: hidden;
  white-space: nowrap !important;
  vertical-align: middle !important;
  cursor: default;
  border-collapse: collapse;
}

.DataGrid_Header {
  font-weight: normal;
  height: 23px;
  _height: 20px;
  vertical-align: middle !important;
  overflow: hidden;
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 8pt;
  padding: 1px 0px 1px 2px;
  text-indent: 2px;
  text-align: left; /*~RTL   text-align: right; */
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  border-left : 1px solid #000000;
  border-collapse: collapse;
  background: none;
  background-repeat: repeat-x;
  background-position: top left;
  background-image: url(Common/DataGrid/backgroundHeader.normal.png);  /** sprite-ref: Openbravo_ERP_250_Default_LTR_Sprite_V; sprite-alignment: repeat; sprite-margin-bottom: 30px; */
  background-color: #A6A6A6;
  _background-color: #9D9D9D;
  color: #000000;
  white-space: nowrap;
  font-weight: bold;
}


.Listselector {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 8pt;
  border: 1px solid #888888;
  height: 70px;
  _height: 71px;
  width: 100%;
}

  
.Popup_Table {
  border: 0px none;
  margin: 1%;
  background-color : #e7e7e7;
  width: 90%;
  border-collapse: collapse;
  table-layout: fixed;
}





